/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.all {
    display: block;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.flash {
    color: green;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    color: black;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
user agent stylesheet
p {
    display: block;
}

.h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.books {
    color: #333;
    margin: 9px 0 20px;
}

.table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    color: #333;
    display: table-cell;
    font-weight: bold;
}

tr {
    display: table-row;
    border-color: inherit;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

h4 {
    color: black;
    font: 13px meiryo;
}

.kakko {
    margin-bottom: 10px;
}
